body {
  background-color: antiquewhite;
}
nav {
  height: 80px;
  border-bottom: 1px solid #000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
aside {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.nav-center {
  height: 90px;
}

.nav-header {
  display: flex;
  align-items: center;
  font-size: 40px;
  margin-left: 100px;
  font-weight: bold;
  height: 90px;
}

.nav-header span:hover {
  cursor: pointer;
}
.nav-links {
  margin-left: 600px;
  margin-top: -70px;
  display: flex;
}
.nav-links li:hover {
  cursor: pointer;
}
.nav-home {
  padding: 20px;
}
.nav-shop {
  padding: 20px;
  position: relative;
}
.nav-blog {
  padding: 20px;
}
.nav-discount {
  padding: 20px;
}

#homeicon {
  font-size: small;
}

#shopicon {
  font-size: small;
}
#blogicon {
  font-size: small;
}
.nav-shop:hover {
  color: rgb(212, 52, 127);
}
.nav-home:hover {
  color: rgb(212, 52, 127);
}
.nav-blog:hover {
  color: rgb(212, 52, 127);
}
.nav-discount:hover {
  color: rgb(212, 52, 127);
}
ul {
  list-style-type: none;
}

.drop-box ul li span:hover {
  cursor: pointer; /* Fare ile üzerine gelindiğinde imleç pointer'a dönüşür */
}
.nav-shop:hover .drop-box {
  display: block; /* Drop box'ı metin kutusunun üzerine gelindiğinde gösterir */
}
.contents a {
  text-decoration: none;
  color: inherit;
}
.content {
  margin-left: -30px;
  padding: 0.2rem;
}
.content span:hover {
  color: rgb(212, 52, 127);
}

.topwear {
  font-size: medium;
}

.bottomwear {
  font-size: medium;
  margin-left: 160px;
  margin-top: -172px;
}
.content1 {
  margin-left: 120px;
  padding: 0.2rem;
}
.content1 span:hover {
  color: rgb(212, 52, 127);
}

.accessory {
  font-size: medium;
  margin-left: 350px;
  margin-top: -172px;
}
.content2 {
  margin-left: 310px;
  padding: 0.2rem;
}

.content2 span:hover {
  color: rgb(212, 52, 127);
}

.anaekran {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.anacontainer{
  height: 200rem;
  border-bottom: 2px solid black ;
}
.anayazı {
  font-size: 200%;
  font-family: sans-serif;
  font-weight: bold;
  justify-content: center;
  margin-left: 6rem;
  margin-top: -1rem;
  cursor: default;
}
.dropicon {
  width: 95%; /* Ana kapsayıcısının genişliğinin %100'ünü kaplar */
  animation: salla 2s ease infinite; /* Animasyonu korur */
  text-align: right;
}

@keyframes salla {
  0% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(0.5deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}
#slogan {
  color: rgb(0, 0, 0);
  margin-left: 90%;
  margin-top: -10%;
  font-size: 60%;
}

.swiper-container {
  display: flex;
  margin-left: 300px;
  margin-top: 100px;
  height: auto;
  width: 1200px;
  background-color: #e6e2cd;
  border-radius: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  cursor: default;
}
.slide {
  margin: 1rem;
}
.slide h1 {
  width: 550px;
  margin-top: 20px;
  height: 100px;
  font-size: 3rem;
}
.slide h2 {
  font-size: 4rem;
  /*position: fixed;  BUNU YAPMAK O EKRAND ONU SABİTLER AŞADA YUKARI DA GİTSEN ORDA DURUR*/
}
.slide img {
  width: 450px;
  height: 450px;
  margin-left: 40rem;
  margin-top: -20rem;
}
.bottom-bar {
  display: none;
}

.slide button {
  font-size: larger;
  border-radius: 0.3rem;
  color: white;
  background-color: rgb(100, 94, 72);
  padding: 0.5rem;
  border-width: 0;
}

.slide button:hover {
  background-color: white;
  color: #000;
  transition: background-color 0.6s ease;
  cursor: pointer;
}
li {
  list-style-type: none;
  padding: 4px;
  margin: 1px;
}

.sidecontents {
  position: absolute;
  left: 2rem;
  top: 8rem;
}
.sidecontents h2 {
  cursor: default;
  font-size: medium;
}
.sidecontent a {
  text-decoration: none;
  color: inherit;
}
.sidecontent a:hover {
  color: rgb(169, 170, 187);
  cursor: pointer;
}

.informations{
  display: flex;
  padding: 1rem;
  margin: 1rem;
  justify-content: center;
  background-color: #c2c4c0;
  border-radius: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.informations h1 {
  font-weight: 400;
}

.kurumsalbilgiler li:hover {
  cursor: pointer;
  color: #e4e7e0;
}
.policiesandagreements li:hover {
  cursor: pointer;
  color: #e4e7e0;
}
.contactus li:hover {
  cursor: default;
}
.kurumsalbilgiler{
  cursor: default;
  padding: 1rem;
}

.policiesandagreements{
  padding: 1rem;
  cursor: default;
}

.contactus{
  padding: 1rem;
  cursor: default;
}

.links {
  position: absolute;
  margin-top: 2rem;
  margin-left: 90rem;
  font-size: larger;
}
.links p {
  margin: 1rem;
}
.links p:hover {
  margin: 1rem;
  cursor: pointer;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: 15rem;
  margin-top: 2rem;
}

.card {
  margin: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.card-content {
  display: flex;
  justify-content: space-between;
}

.card h1 {
  font-size: 15px;
  cursor: default;
}
.card h2 {
  position: absolute;
  margin-top: 2rem;
  font-size: 15px;
  cursor: default;
}

.card p {
  background-color: rgb(218, 228, 238);
  font-size: small;
  cursor: pointer;
  padding: 5px;
  border-radius: 0.2rem;
}
.image {
  position: absolute;
  height: 400px;
  opacity: 1;
  transition: opacity 0.3s;
}
.image-hover {
  height: 400px;
}
.card:hover .image {
  opacity: 0;
}

.card:hover .image-hover {
  opacity: 1;
}

.card img {
  cursor: pointer;
}

.drop-box {
  display: none; /* Drop box'ı varsayılan olarak gizler */
  position: absolute; /* Drop box'ın konumunu metin kutusuna göre ayarlar */
  top: 100%; /* Drop box'ı metin kutusunun altına yerleştirir */
  right: 0; /* Drop box'ı metin kutusunun soluna yerleştirir */
  background-color: rgb(
    240,
    236,
    231
  ); /* Drop box'ın arka plan rengini ayarlar */
  padding: 10px; /* Drop box'ın iç padding'ini ayarlar */
  border: 3px solid #ccc; /* Drop box'ın kenarlığını ayarlar */
  border-radius: 0.5rem;
  z-index: 1; /* Drop box'ı diğer öğelerin üzerine yerleştirir */
  width: 500px;
  height: 200px;
  color: black;
  opacity: 0.9;
  cursor: default;
}

.pencere {
  display: none; /* Varsayılan olarak gizle */
  position: fixed; /* Sabit konumlu yap */
  top: 50%; /* Pencereyi ekranın ortasına dikey olarak yerleştir */
  left: 50%; /* Pencereyi ekranın ortasına yatay olarak yerleştir */
  transform: translate(
    -50%,
    -50%
  ); /* Pencereyi konumlandırırken kaymayı düzelt */
  width: 40%; /* Pencerenin genişliği */
  height: auto;
  max-width: 1500px; /* Pencerenin en fazla genişliği */
  background-color: white; /* Pencerenin arka plan rengi */
  padding: 20px; /* Pencerenin iç kenar boşluğu */
  border: 1px solid #ccc; /* Pencerenin kenarlığı */
  z-index: 10;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background-color: rgb(180, 180, 180);
}

.pencere img {
  width: 300px;
  height: auto;
  border-radius: 0.8rem;
}

.kapatma {
  cursor: pointer;
  position: absolute;
  right: 20px;
  font-size: large;
  background-color: rgb(227, 236, 236);
  width: 15px;
  height: 17px;
  border-radius: 0.4rem;
  border: 5px solid transparent;
}

.kapatma:hover {
  color: rgb(131, 64, 64);
  background-color: rgb(117, 117, 116);
}

.pencere-icerik {
  text-align: left;
  position: absolute;
  margin-top: -27rem;
  margin-left: 20rem;
  width: 60%;
  max-width: 1000px;
}
.pencere-icerik h2{
  width: 390px;
  font-size: 3rem;
  border-bottom: 1px solid rgb(139, 139, 138);
  font-weight: normal;
  font-family: sans-serif;
}

.pencere-baslik{
  position: absolute;
}

.shipment{
  position: absolute;
  margin-top: 4rem;
  display: block ;
  border: 1px solid rgb(139, 139, 138);
  font-family:Arial, Helvetica, sans-serif; 
  border-radius: 5px;
  cursor: default;
}

.shipment li{
  padding: 1rem;
  
}
.shipment li:first-child{
  
  border-bottom: 1px solid rgb(139, 139, 138);
}
.sepete-ekle{
  position: absolute;
  background-color: blanchedalmond;
  width: 375px;
  border-radius: 1rem;
  height: 30px;
  font-size: 50%;
  text-align: center; /* Yazıları yatay olarak ortalar */
  line-height: 10px;
  cursor: pointer;
  background-color: rgb(138, 143, 136);
  color: white;
}
.sepete-ekle:hover{
  background-color: rgb(163, 167, 162);
}

.bedenler {
  display: flex;
  font-family: sans-serif;
}

.bedenler li {
  margin: 10px;
  padding: 12px;
  height: 8px;
  width: 30px;
  background-color: rgb(227, 236, 236);
  text-align: center; /* Yazıları yatay olarak ortalar */
  line-height: 10px;
  font-size: smaller;
  border-radius: 1rem;
  cursor: pointer;
}
.bedenler li:hover {
  background-color: rgb(197, 197, 195);
}
